<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{ header }}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="addCustomerForm">

    <mat-form-field>
      <input matInput placeholder="Customer Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone Number" formControlName="mobile">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="this.dialogRef.close(addCustomerForm.value)">Add Customer</button>
    <button mat-raised-button color="warn" (click)="this.dialogRef.close()">Cancel</button>
  </form>
</div>
